@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #252836;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navigation {
  flex: 0 0 8%; /* Do not grow, do not shrink, base width is 10% */
  background-color: #222;
  padding: 20px;
  /* ... other styles ... */
}

.order-page {
  flex: 0 0 92%; /* Grow to occupy the remaining space */
  padding: 8px;
  background-color: #252836;
  color: #fff;
  /* ... other styles ... */
}

.navigation ul {
  list-style-type: none;
  padding: 0;
}

.navigation li {
  color: #fff;
  margin-bottom: 10px;
  cursor: pointer;
}

.order-page header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.order-page h1 {
  font-size: 24px;
}
.coffee-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.coffee-item {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.coffee-item:hover {
  transform: translateY(-5px);
}

.coffee-item img {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.order-summary {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  color: #333;
}

.order-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sub-total {
  font-weight: bold;
  margin-top: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.order-content {
  display: flex;
  gap: 20px;
}

.coffee-items {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.order-summary {
  flex: 0 0 380px;
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  overflow: auto;
}

.order-summary h2 {
  margin-bottom: 10px;
}

.order-summary table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.order-summary th,
.order-summary td {
  padding: 5px;
  text-align: left;
}

.order-summary button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button.checkout-btn {
  background-color: #D1925A;
}

button.remove-btn {
  background-color:red;
margin: 0 4px;
}


button.adj-btn {
  background-color: #D1925A;
  margin: 0 4px;
}


.order-summary-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.order-summary-content {
  background-color:#222;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}